PORT=3000
MONGODB_URI=mongodb://localhost:27017/mydb
POSTGRES_DSN=postgres://user:password@localhost:5432/mydb?sslmode=disable
OPENAI_API_KEY=your_openai_key_here
MONGO_DB_CATALOG=mongodb://abhishek.soni:mongo1234@sr-channel-catalog-mongo.localhost/sr-channel-catalog

# MySQL configuration
DATABASE_DATABASE=multichannel_api_stage
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=Admin@1234

# Vector DB choice: faiss | chroma
VECTOR_DB=faiss 